Android/api_test/.gitignore
*.gradle
*.properties
*.bat
*.xml
*.pro
*.jar
*.index
*.history
Java/.metadata/.lock
Java/.metadata/.log
Java/.metadata/version.ini
Java/.metadata/.mylyn/repositories.xml.zip
Java/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Java/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Java/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Java/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Java/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Java/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Java/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Java/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Java/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Java/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Java/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Java/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Java/.metadata/.plugins/org.eclipse.rse.core/.log
Java/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Java/.metadata/.plugins/org.eclipse.ui.intro/introstate
*.iml
*.class
Java_Eclipse/.metadata/.lock
Java_Eclipse/.metadata/.log
Java_Eclipse/.metadata/version.ini
Java_Eclipse/.metadata/.mylyn/.tasks.xml.zip
Java_Eclipse/.metadata/.mylyn/repositories.xml.zip
Java_Eclipse/.metadata/.mylyn/tasks.xml.zip
Java_Eclipse/.metadata/.mylyn/.taskListIndex/segments_1
Java_Eclipse/.metadata/.mylyn/.taskListIndex/write.lock
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/JavaChatA01/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX01/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX02/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX03/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX03/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX04/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX04/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX05/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX05/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX06/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX07/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX08/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX08/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX09/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX09/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX10/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/jdbcEX10/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/NetworkEx01/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/NetworkEx01/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/NetworkEx02/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/NetworkEx03/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/NetworkEx03/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/NetworkEx04/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/NetworkEx04/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/NetworkEx05/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/NetworkEx05/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/P_project_step01/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/P_project_step01/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/P_project_step02/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/P_project_step02/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/PhoneBookDB/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/PhoneBookDB_Prac/.markers
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/PhoneBookDB_Prac/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.projects/PhoneBookDB/org.eclipse.jdt.core/state.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/7.tree
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Java_Eclipse/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.runtime.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.workbench.renderers.swt.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.core.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.java.ui.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.core.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.core.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.json.core.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/BatchInsertEx.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/CallableStatementEx.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Main (1).launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Main (2).launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Main.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/MyPhoneBook.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/NetworkEx03.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/NetworkEx1.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/NetworkEx2.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/NetworkEx5.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/NewworkEx4.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/PreparedStatementEx.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/PropertieEx.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/ResultSetMetadataEx.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/step01.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/step02.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/TransactionEX.launch
Java_Eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Java_Eclipse/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Java_Eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Java_Eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
Java_Eclipse/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
Java_Eclipse/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Java_Eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
Java_Eclipse/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Java_Eclipse/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Java_Eclipse/.metadata/.plugins/org.eclipse.rse.core/.log
Java_Eclipse/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
Java_Eclipse/.metadata/.plugins/org.eclipse.ui.intro/introstate
Java_Eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
Java_Eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
Java_Eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
Java_Eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
Java_Eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
Java_Eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
Java_Eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
